@page "/"

<PageTitle>Asystent Pogodowy</PageTitle>

<div class="title">
    <h1>Projekt wykonali</h1>
    <p>Kacper Żaba</p>
    <p>Piotr Dawidowski</p>
    <p>Wojciech Jurasz</p>
</div>

<style>
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .title p {
        font-size: 40px;
        margin: 5px 0;
    }
</style>
